@model List<tennis_scoreboard.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<link rel="stylesheet" href="~/css/matches.css" asp-append-version="true"/>

<body>
<div class="main-block">
    <div class="title">Finished matches</div>
    <div class="search-by-name-box">
        <form id="searchForm" method="post" asp-controller="Home" asp-action="FinishedMatches">
            <p class="name">Name: </p>
            <input type="hidden" name="page" value="1">
            <input id="playerNameInput" name="searchedPlayer" class="search-bar"
                   placeholder="Steve">
            <button type="submit" class="search-button">Search</button>
        </form>
        <button form="clearForm" class="clear-button" onclick="clearSearch()">Clear</button>
    </div>
    <div class="table">
        <table>
            <tr>
                <td>
                    <div class="table-header">Match ID</div>
                </td>
                <td>
                    <div class="table-header">Player 1</div>
                </td>
                <td>
                    <div class="table-header">Player 2</div>
                </td>
                <td>
                    <div class="table-header">Winner</div>
                </td>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <div class="id-column">
                            <div class="table-header">@Model[i].ID</div>
                        </div>
                    </td>
                    <td>
                        <div class="player1-column">
                            <div class="table-header">@Model[i].Player1Name</div>
                        </div>
                    </td>
                    <td>
                        <div class="player2-column">
                            <div class="table-header">@Model[i].Player2Name</div>
                        </div>
                    </td>
                    <td>
                        <div class="winner-column">
                            <div class="table-header">@Model[i].WinnerName</div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    @if (ViewData["TotalPages"] != null && (int)ViewData["TotalPages"] > 1)
    {
        <div class="d-flex justify-content-center align-content-center" style="color: white; font-size: larger;">
            Page:
            @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
            {
                if (i == (int)ViewData["CurrentPage"])
                {
                    <span>@i</span>
                }
                else
                {
                    <a style="text-decoration: none;" href="/finished-matches?page=@i&filter_by_player_name=@ViewData["PlayerName"]">@i</a>
                }
            }
        </div>
    }

    <script>
                function clearSearch() {
                    document.getElementById("playerNameInput").value = "";
                }
                
                function PagerClick(index) {
                    document.getElementById("hfCurrentPageIndex").value = index;
                    document.forms[0].submit();
                }
        </script>
</div>
</body>